<%- include('../partials/head', { title: 'Главная' }) %>
  <body class="bg-dark font-raleway">
    <main class="content">

      <h1 class="hidden text-white">SOME BY MI</h1>

      <a href="/" class="absolute top-[39px] left-[75px]">
        <img src="/svgs/logo-white.png" alt="Логотип" class="w-[72px] h-[47px]">
      </a>

      <!-- Главная страница -->
      <section class="main bg-white text-black">
        <div class="flex flex-col lg:flex-row max-w-[1440px] w-full mx-auto">

          <!-- Левая часть: изображение -->
          <div class="w-[710px] bg-mud">
            <img src="/images/main-illustration.png" alt="main-illustration" class="w-[710px] h-[934px] object-cover" />
          </div>

          <!-- Правая часть: контент -->
          <div class="w-[730px] pl-[73px] pr-[76px] pb-[50px]">

            <!-- Header -->
            <header>
              <nav class="hidden lg:flex justify-between items-center my-[50px] text-lg text-black font-light">
                <div class="flex flex-wrap gap-[clamp(15px,2.5vw,35px)]">
                  <a href="/products" class="hover:text-dark uppercase">Каталог</a>
                  <a href="/skincare" class="hover:text-dark uppercase">Skincare</a>
                  <a href="/about" class="hover:text-dark uppercase">О нас</a>
                </div>
                <div class="flex-1"></div>
                <div class="flex gap-[clamp(10px,2vw,20px)]">
                  <% if (typeof customer !== 'undefined') { %>
                    <a href="/account" class="hover:text-dark">
                      <span><%= customer.username %></span>
                    </a>
                  <% } else { %>
                    <button id="authPopupBtn" class="auth-btn hover:text-darkgreen uppercase underline">Профиль</button>
                  <% } %>
                  <a href="/cart" class="hover:text-dark uppercase">Корзина</a>
                </div>
              </nav>
              <%- include('../partials/auth-popup') %>
            </header>

            <!-- Картинки -->
            <div class="flex justify-between">
              <img src="/images/product.png" alt="main-product" class="w-[270px] h-[270px] object-cover" />
              <img src="/images/haerin.png" alt="main-haerin" class="w-[270px] h-[408px] object-cover self-start" />
            </div>

            <!-- Заголовок -->
            <p class="font-medium text-left text-5xl mt-[20px] uppercase">Take care of yourself</p>

            <!-- Текст в двух колонках -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-[41px] text-lg font-light leading-snug text-black leading-relaxed mt-[30px]">
              <p>
                Хорошая кожа — это не только ДНК. Ваши ежедневные привычки
                сильно влияют на то, как вы выглядите. От того, какие обзоры продуктов вы читаете и c какими
                врачами вы консультируетесь, мнения могут быть ошеломляюще разными:
              </p>
              <p>
                от увлажнения кожи, до зашиты от ультрафиолета.
                В конечном итоге, уход за кожей — сугубо индивидуальное дело. Вот что стоит учитывать,
                чтобы разобраться во всем этом потоке информации.
              </p>
            </div>
          </div>
        </div>
      </section>

      <%- include('../partials/bestsellers') %>

      <%- include('../partials/products') %>
    </main>
<%- include('../partials/footer') %>
